#NavBar{
  background-color: #4d557c;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 0.5em;

} */

.navItem{
  padding: 0.5em;
  text-decoration-line: none;
  color: #d78296;
}

.navItem:hover{
  background-color: lightblue;
  color: black;
  text-decoration-line:underline;

}
/* 
input[type=search] {
  padding: 4px 7px;
  border-radius: 10px;
  border: 1px solid blue;  
} */
/* 
.searchButton{
  background-color: #04AA6D;
  padding: 4px;
  margin: 5px;
  color: white;
  border: none;
  font-size: 1em;

} */

/* form {
  display: inline;
}
 */

/* 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: lightblue;
  color: darkolivegreen;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .navItem {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content .navItem:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
} */